* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the body's background color. */
body {
    background-color: #d9dcd6;
}

/* Style of Header. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Set H1 style. */
h1 {
    display: inline-block;
    color: blue;
    font-size: 48px;
}

/* Set class to orange. */
.seo {
    color: orange;
}

/* Set navigation element style. */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Set unordered list to not be styled. */
ul {
    list-style-type: none;
}

/* Set style for list */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Set link color to white with no decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set the style of the background filler image. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Set the style of the main element. */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Set the style of the SEO section. */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set max heights for images. */
img {
    max-height: 200px;
}

/* Set the margin for float-left class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Set the style for H2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Set the font size for paragraphs. */
p {
    font-size: 16px;
}

/* Set style for the Online Reputations Management section. */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set the margin for float-right class */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Set style for the Social Media Marketing section. */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set style for the Aside element. */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Set style for the Benefits section. */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Set style for H3. */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Set style for images in the Benefits section. */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Set style for the Footer element. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Set style for H4. */
h4 {
    font-size: 20px;
}
